<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_mapping.item_id %>
</p>

<p>
  <strong>Item variety:</strong>
  <%= @item_mapping.item_variety_id %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @item_mapping.unit_id %>
</p>

<p>
  <strong>Big basket url:</strong>
  <%= @item_mapping.big_basket_url %>
</p>

<p>
  <strong>Hopcom name:</strong>
  <%= @item_mapping.hopcom_name %>
</p>

<p>
  <strong>Kmv name:</strong>
  <%= @item_mapping.kmv_name %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @item_mapping.remark %>
</p>

<p>
  <strong>Error:</strong>
  <%= @item_mapping.error %>
</p>

<%= link_to 'Edit', edit_item_mapping_path(@item_mapping) %> |
<%= link_to 'Back', item_mappings_path %>
